*{
  margin: 0;
  padding: 0;
}
.logo img {
    height: 40px;
  }

  .container {
    margin: 0 auto;
    width: 1440px;
    /* or any specific width */
    background-color: #091320;
    padding: 44px 100px 0 100px;
    height: 95vh;
  }

  .btnPrimary,
.btnSecondary,
.btnTarsiyary {
  display: inline-block;
  padding: 12px 0;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Specific primary button */
.btnPrimary {
  background-color: #3876C7;
  color: #ffffff;
  border: none;
  width: 100%;
}

.btnPrimary:hover {
  background-color: #2B5A97;
}

/* Secondary Button */
.btnSecondary {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #385C8A;
}

.btnSecondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Tertiary Button */
.btnTarsiyary {
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.btnTarsiyary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Anchor inside all buttons */
.btnPrimary a,
.btnSecondary a,
.btnTarsiyary a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}



/* -------------------------------------------------- Form Design--------------------------------- */

h3, p{
  color: #ffffff;
}

.container .inputForm{

  margin: auto;
  max-width: 600px;
  height: 60%;
  align-content: center;
}

.container .navBar{
  max-width: 1240px;
}

.m-16{margin-top: 16px;}

.size-h{
  font-size: 16px;
  width: 100%;
  height: 56px;
}



/* --------------------------------------------------Sign up Form Design--------------------------------- */

.inputForm h3{
  font-family: 'Anton', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}

.inputForm p{
  text-align: center;
  margin: 8px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
