*{
  margin: 0;
  padding: 0;
}
.txt{
  color: #ffffff;
  font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}

.container {
  margin: 0 auto;
  width: 1440px; /* or any specific width */
  background-color: #091320;
}

.title-2{
  font-family: 'Anton', sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.subTitle{  
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.btnSecondary a, .btnPrimary a, .btnTarsiyary a{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}


 /* ****************************************** Nav Bar Start ************************************** */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 100px 0 100px;
  background-color: #0b1320;
}

.logo img {
  height: 40px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-family: Montserrat;
  transition: 0.3s;
}

.menu ul li a:hover,
.menu ul li a:focus {
  font-weight: 600;
  border-bottom: 2px solid #99cfff;
  padding-bottom: 5px;
}

.btnLogin, .btnMain {
  display: flex;
  gap: 15px;
}

.btnTarsiyary {
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  /* border: 1px solid #385C8A; */
}


.btnSecondary {
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s;
  border-radius: 8px;
  border: 1px solid #385C8A;
}

.btnSecondary:hover ,
.btnTarsiyary:hover{
  background-color: #ffffff22;
}

.btnSecondary.outline,
.btnTarsiyary.outline,
.btnPrimary.outline {
  border: 1px solid #337ccf;
}


 /* ****************************************** Nav Bar End ************************************** */

#heroSection{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
/* background-color: #99cfff9f; */
}
#heroSection .textArea{
 width: 764px;
 margin: 90px auto;
}

#heroSection .textArea .title{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 91.2px */
}
.btnMain {
  display: flex;
  justify-content: center;
  gap: 20px; /* space between buttons */
  margin-top: 20px;
}

.btnPrimary:hover {
  background-color: #2B5A97;
}
.btnPrimary {
  padding: 10px 20px;
  color: white;
  background-color: #3876C7;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s;
  border-radius: 8px;
}


.imageArea {
  margin: 0 auto;
  width: 80%;
  max-height: 39vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imageArea img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center bottom;
  display: block;
}






/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Why Choose Us!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */





